* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html, body { height: 100%; }

body {
    background: #e3e6e6;

}
/* HEADER */
.header {
    width: 100%;
    background: #0f1111;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.search {
    flex: 1;
    display: flex;
}
.search input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}
.search button {
    padding: 10px 20px;
    background: #febd69;
    border: none;
    cursor: pointer;
}

.nav-right {
    font-size: 14px;
    text-align: left;
}
.bold {
    font-weight: bold;
}

.cart {
    font-weight: bold;
    cursor: pointer;
}

/* NAVBAR */
.navbar {
    background: #232f3e;
    padding: 12px 20px;
    display: flex;
    gap: 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* HERO */
.hero {
    background: url('https://m.media-amazon.com/images/I/71kv5YIbH-L._SX3000_.jpg') no-repeat center;
    background-size: cover;
    height: 350px;
}

/* PRODUCT GRID */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.box {
    background: white;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
}

.box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.box button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #ffa41c;
    border: none;
    cursor: pointer;
    font-weight: bold;
}